div {
    background-image: url(/Users/jarednjk/repos/QuizSet/Quiz2/Qns4/plant.jpeg);
    height: 100vh;
    width: 100vw;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}