body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    color: white;
    margin: -10px;
}

#logo {
    padding-left: 40px;
}

#nav-links {
    display: flex;
    gap: 20px;
    padding-right: 40px;
    list-style-type: none;
}

#section-1 {
    display: flex;
}

#side-1 {
    width: 50vw;
    padding: 30px;
}

#side-2 {
    background-image: url(ProfilePic.jpeg);
    width: 50vw;
    height: 88vh;
    background-size: cover;
    margin: 10px -10px 0px 0px;
    background-position: bottom right;
}

footer {
    background-color: orange;
    margin: auto -10px 0px -10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}