div {
    height: 500px;
    width: 300px;
}

#box1 {
    position: absolute;
    top: 20%;
    left: 20%;
}

#box2 {
    position: absolute;
    top: 20%;
    right: 20%;
}

p {
    background-color: orange;
    padding: 10px;
}