#parent-1{
    height:100vh;
    background-color:lightgray;
    display: flex;
}

#child-1{
    height:200px;
    width:200px;
    background-color:lightsalmon;
}

#child-2{
    height:200px;
    width:200px;
    background-color:salmon;
}

 #child-3{
    height:200px;
    width:200px;
    background-color:maroon;
}