#section-1{
    height:100vh;
    background-color:lightgray;
    display: flex;
    flex-direction: column;
}

#box-1{
    height:200px;
    width:200px;
    background-color:lightsalmon;
}

#box-2{
    height:200px;
    width:200px;
    background-color:salmon;
}

#box-3{
    height:200px;
    width:200px;
    background-color:maroon;
    align-self: center;
}

#box-4{
    height:200px;
    width:200px;
    background-color:blueviolet;
}

#box-5{
    height:200px;
    width:200px;
    background-color:purple;
}